@font-face{
	font-family: ubuntuRegular;
	src:url(fuentes/Ubuntu-R.ttf) format('truetype');
}
@font-face{
	font-family: ubuntuItalic;
	src:url(fuentes/Ubuntu-I.ttf) format('truetype');
}
@font-face{
	font-family: ubuntuBoldItalics;
	src:url(fuentes/Ubuntu-BI.ttf) format('truetype');
}
h1,h2,h3,h4,h5,h6{
	font-family: ubuntuRegular;

}

p{
	font-family: ubuntuRegular;
	font-size: 12px;
	text-align: justify;
	text-shadow:1px 1px 3px rgba(0,0,0,0,4);
	color:black;
}
body{
	text-align: center;
	margin: 0;
	background: url(../img/negro.png),url(../img/azul.png);
}
#principal{
	text-align: left;
	margin:auto;
	width:80%;
	height: 100%
}
#cajaheader{
	width:100%;
	height: 102px;
	position: absolute;
	background: rgba(255,255,255,0.5);

}
header{
	display: table;
	margin:auto;
	text-align: left;
	height:100px;
	overflow:hidden;
	border:2px solid white;
	border-radius:5px 53px 0px 0px;
	box-shadow: 0px 0px 10px white;
	width:100%;
}
footer{
	margin:0px;
	text-align: center;
	padding: 0;
	border:2px solid white;
	background: rgba(0,0,0,5);
	box-shadow:  0 0 10px white;

}
#contenido{
	border:2px solid white;
	box-shadow: 0 0 10px white;
	background: rgba(255,255,255,0.5);


}
article{
	color:rgba(255,255,255,1);
	width:55%;
	background: rgba(255,255,255,0.5);
	border:1px solid white;
	border-radius: 0px 25px 0 25px;
	box-shadow: 3px 3px  10px black;
	margin:10px;
	padding: 10px 10px 10px 150px;
	transition: all 1s;
	
}
article:hover{
	color:rgba(0,0,0,1);
	background: rgba(255,255,255,1);
	transform:scale(1.1,1.1);
}
aside{
	float: right;
	width:20%;
	background: rgba(255,255,255,0.5);
	margin:10px;
	padding: 10px;
	border:1px solid white;
	box-shadow: 3px 3px 10px white;
	border-radius: 0 25px;
}
aside:hover{
	box-shadow: 0 0 25px white;
	background: rgba(255,255,255,1);
}
aside ul{
	padding: 0;
	
	
	
	font-family: ubuntuRegular;
	font-size: 10px;
}
aside ul li{
	border:1px solid white;
	border-radius: 0px 5px;
	list-style: none;

}
aside ul li a{
	color:black;
	overflow: hidden;
	text-decoration: none;
	
}
nav {

	float:right;
	margin:20px;
	display: inline;
}
nav ul{
	font-size: 12px;
	padding-left: 0;
	margin-left: 0;
	background-color: grey;
	color:white;

	font-family:ubuntuRegular;
	position:relative;
	display: inline;
}
nav ul li{
	display: inline;
	text-align: center;
	width:100%;

}
nav ul li a{
	background: rgba(255,255,255,0);
	color:white;
	text-decoration: none;
	border:1px solid white;
	width: 80px;
	float: right;
}
canvas{
	border:0;
}
#tipo{
	position:absolute;
	transform:translate(80px,10px);
}
h1{
	color:white;
	font-size:48px;
	margin-top:10px;
	letter-spacing:0px;
	text-shadow:2px 2px 5px rgba(0,0,0,0.5);
	margin:0;
	padding: 0;
}
h2{
	color:white;
	font-size:16px;
	margin-top:10px;
	letter-spacing: 0;
	text-shadow:2px 2px 5px rgba(0,0,0,0.5);
	margin:0;
	padding:0;
}
h3{
	margin:0;
	padding:0;
	font-size: 36px;
	text-shadow:2px 2px 5px rgba(0,0,0,0.5);
}
h4{
	margin:0;
	padding:0;
	font-size: 36px;
	text-shadow:2px 2px 5px rgba(0,0,0,0.5);
	color:black;
}
time{
	font-family:ubuntuRegular;
	font-size: 10px;
}
#sobremi a{
	color:white;
	text-decoration: none;
}
#mifoto{
	width:80px;
	height:80px;
	background-image:url(../img/images.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border:1px solid white;
	margin:10px;
	border-radius: 0px 10px;
	display: inline-block;

	animation:parpadeo 5s  infinite;
}
h6{
	width:80%;
	display: inline-block;
	vertical-align: top;
}
@keyframes parpadeo{
	0%{
		box-shadow: 0 0 10px white;
	}
	50%{
		box-shadow: 0 0 50px white;
	}
	100%{
		box-shadow: 0 0 10px white;
	}
}
#logojamendo{
	float:left;
	width:100px;
	height:100px;
	background: url(../fotos/jamendo.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border:1px solid white;
	margin:10px;
	position:absolute;
	float: left;
	transform:translate(-150px,0);

}


#logotrailer{
	float:left;
	width:100px;
	height:100px;
	background: url(../fotos/trailer.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border:1px solid white;
	margin:10px;
	position:absolute;
	float: left;
	transform:translate(-150px,0);

}
#logosesiones{
	float:left;
	width:100px;
	height:100px;
	background: url(../fotos/dawblog.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border:1px solid white;
	margin:10px;
	position:absolute;
	float: left;
	transform:translate(-150px,0);

}
[required]{
	border-color:purple;
	box-shadow: 0 0 5px purple;

}
:invalid{
	border-color: red;
	box-shadow: 0px 0px 50px red;
	border-radius: 0 5px;
}
form table{
	border: 0px solid;
	padding: 0px;
	margin:auto;

}
form{
	font-family: ubuntuRegular;
	color:black;
	border-radius:  0 15px;
	border:1px solid white;
	box-shadow: 10px 10px 25px rgba(0,0,0,0.5);
	width:80%;
	padding:10px;
	text-shadow:3px 3px 5px rgba(0,0,0,0.5);

}
form input, form textarea{
	font-size: 10px;
	font-family: ubuntuRegular;
	background: rgba(255,255,255,0.5);
	border:1px dotted white;
	border-radius:0px 5px;
	transition: all 1s;
}
form input:hover, form textarea:hover{
	background: white;
	border:1px dotted black;
	border-radius: 0px;
}




